
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  width: 98.7vw;
  background-color: #f5f5f5;
}
main img:hover {
  cursor: pointer;
}
nav {
  width: 100%;
}
.slider {
  width: 100%;
  margin-bottom: 20px;
}
.slider img {
  width: 100%;
}
.poster {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}
.poster img {
  width: 100%;
}
.dual-image-poster {
  width: 90%;
  margin: auto;
}
.dual-image-poster img {
  width: 45%;
}
.dual-image-poster img:nth-child(1) {
  margin-right: 9.6%;
}
.productbox {
  width: 90%;
  margin: 20px auto;
  /* border: 1px solid red; */
  padding: 2% 0px;
  text-align: center;
}
.productbox h2 {
  margin-bottom: 15px;
}
.productbox > img {
  width: 100%;
}
#underline {
  width: 200px;
  margin: auto;
  border-bottom: 4px solid #f48fb1;
  margin-bottom: 30px;
}
.spotlight {
  width: 100%;
  height: 300px;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 31% 31% 31%;
  gap: 3.5%;
}
.spotlight-products {
  height: 100%;
  /* border: 1px solid green; */
  box-shadow: 2px 2px 5px 5px rgb(230, 229, 229);
}
.spotlight-products img {
  width: 100%;
}
#productbox-catagory {
  width: 100%;
}
#productbox-catagory img {
  padding: 5px;
  border: 1px solid rgb(116, 115, 115);
  border-radius: 50%;
  margin: 0px 20px;
}
.trends {
  width: 100%;
  height: 300px;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 31% 31%;
  gap: 38%;
}
#product-parent {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  gap: 4%;
}
.card {
  height: 600px;
  border: 1px solid rgb(226, 226, 226);
  background-color: white;
  word-wrap: none;
}
.card:hover {
  box-shadow: 2px 2px 4px 4px rgb(214, 213, 213);
  cursor: pointer;
}
.card img {
  width: 100%;
  border-bottom: 1px solid rgb(226, 226, 226);
  margin-bottom: 20px;
}
.card h2 {
  margin: 0px 20px;
  margin-bottom: 15px;
  text-align: center;
}
.card p {
  font-size: 20px;
  text-align: left;
  margin-left: 30px;
}
#price {
  margin-top: 30px;
}
iframe {
  width: 80%;
  height: 700px;
  display: block;
  margin: auto;
}
footer {
  margin-top: 20px;
  border-top: 1px solid rgb(194, 194, 194);
}

