* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.header {
  width: 100vw;
  padding: 0.4rem 14.5rem;
  height: 4.8rem;
  box-shadow: 1px -4px 12px 1px gray;
}
.header img {
  max-height: 100%;
}
.header + p {
  font-size: 2.3rem;
  text-align: center;
  margin-top: 3.8rem;
}
#main {
  text-align: center;
  color: green;
  margin-top: 10rem;
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: rgb(231, 71, 97);
}
