* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav {
  width: 99.8%;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
}
button:hover {
  cursor: pointer;
}
.cont {
  width: 90%;
  margin: auto;
}
.cont > h2 {
  text-align: center;
  margin-bottom: 100px;
}
.procees-card {
  background-color: rgb(245, 243, 243);
  height: 600px;
  box-sizing: border-box;
  padding: 20px;
}
.table {
  display: grid;
  grid-template-columns: 50% 20%;
  grid-template-rows: 40px 40px 40px;
  row-gap: 10%;
  column-gap: 30%;
  margin-bottom: 15%;
  margin-top: 7%;
}
.table-cont {
  font-size: 25px;
}
.amount-to-pay {
  display: flex;
}
.amount-to-pay h5:nth-child(2) {
  width: 70%;
  text-align: right;
}
#proceed-btn {
  background-color: black;
  color: white;
  width: 80%;
  height: 50px;
  display: block;
  margin: auto;
  margin-top: 3%;
  font-size: 20px;
}
#proceed-btn:hover {
  cursor: pointer;
}
#cuppon-inp {
  height: 70px;
  width: 60%;
}
#cuppon-inp:focus {
  outline: none;
}
#cuppon-btn {
  height: 70px;
  width: 25%;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(124, 124, 124);
  color: white;
}
