footer {
  position: relative;
  background-color: white;
  padding: 3rem 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* z-index: 3; */
}
#footer {
  display: flex;
  padding: 0px 12vw;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  /* z-index: 1; */
}
#footer > ul {
  padding: 0px 30px 0px 0px;
  list-style-type: none;
  color: #818181;
}
#footer h6 {
  font-size: 1rem;
}
#footer > ul > li a {
  text-decoration: none;
  color: black;
  text-transform: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 0.87rem;
}
#footer li {
  margin-top: 0.37rem;
  line-height: 1.2;
}
#footerBottom {
  display: flex;
  padding: 0px 12vw;
  margin-top: 2.3rem;
  position: relative;
}
footer button {
  height: 2.3rem;
  color: white;
  background-color: black;
  border: none;
  font-size: 0.9rem;
  margin-left: 0px;
  width: 10rem;
  vertical-align: middle;
}
footer input {
  height: 2.3rem;
  width: 19rem;
  margin-top: 1rem;
}
/* #sect2 label {
          position: absolute;
          right: 12vw;
        } */
#sect2 img {
  width: 7.5rem;
  height: 2.5rem;
  margin-top: 1rem;
}
#sect2 {
  position: absolute;
  right: 12vw;
}
#img1 {
  float: left;
  /* position: absolute; */
  /* right: -80%; */
}
#img2 {
  position: absolute;
  right: 2px;
}
#footer > ul > li a:hover {
  color: #d4a255;
}
