* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
button:hover {
  cursor: pointer;
}
.top {
  width: 100%;
  height: 80px;
  background-color: #fce4ec;
  display: flex;
  padding: 2%;
}
.top h4 {
  font-size: 18px;
}
.top h4:nth-child(3) {
  position: relative;
  left: 60%;
  font-size: 18px;
}
.top h3 {
  color: hotpink;
  margin-left: 40px;
  font-size: 20px;
}
.mid {
  width: 100%;
  height: 100px;
  padding: 1% 1.5%;
  display: flex;
}
.mid input {
  margin-left: 50px;
  width: 700px;
  height: 50px;
  background-color: rgb(245, 243, 243);
  border: 1px solid gray;
  font-size: 25px;
  padding-left: 15px;
  margin-top: 5px;
}
#navbar-btn {
  height: 50px;
  width: 150px;
  font-size: 20px;
  background-color: white;
  border-radius: 25px;
  position: relative;
  left: 10%;
  margin-top: 5px;
}
#navbar-btn:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}
#cart {
  position: relative;
  left: 15%;
  height: 60%;
  margin-top: 0.7%;
}
#login {
  position: relative;
  left: 16%;
  height: 60%;
  margin-top: 0.7%;
}
.bottom {
  width: 90%;
  height: 50px;
  margin: auto;
  display: flex;
  padding-top: 1%;
  gap: 50px;
}
.bottom h3 {
  font-size: 15px;
  font-weight: 600;
  height: 30px;
}
.bottom h3:hover {
  cursor: pointer;
  border-bottom: 6px solid rgb(248, 125, 186);
}
#login-popup {
  width: 500px;
  height: 600px;
  position: absolute;
  z-index: 100;
  background-color: white;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;
  top: 30px;
  left: 30%;
  padding: 10px;
  animation-name: anim;
  animation-duration: 1s;
  display: none;
}
#popup-X {
  color: gray;
  text-align: right;
  margin-bottom: 30px;
}
#popup-X:hover {
  cursor: pointer;
}
#login-popup h4 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
#login-popup img {
  height: 100px;
  margin-bottom: 30px;
}
#login-popup h3 {
  width: 200px;
  margin-left: 80px;
  margin-bottom: 30px;
  border-bottom: 3px solid black;
  font-size: 25px;
}
#login-popup input {
  width: 90%;
  display: block;
  margin: auto;
  height: 50px;
}
#login-popup input:focus {
  outline: none;
  border: 1px solid gray;
}
#login-popup input::-webkit-outer-spin-button,
#login-popup input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#login-popup button {
  width: 90%;
  height: 40px;
  border: none;
  background-color: black;
  color: white;
  display: block;
  margin: 30px auto;
}
#login-popup p {
  display: block;
  text-align: center;
}
#login-popup > div {
  width: 90%;
  margin: auto;
  display: flex;
}
#login-popup > div > img {
  width: 50%;
}
#login-popup > div > img:hover {
  cursor: pointer;
}
#login-popup > div > img:nth-child(2) {
  height: 40px;
  margin-top: 30px;
}
#login-popup > div > img:nth-child(1) {
  height: 100px;
}
@keyframes anim {
  from {
    top: 500px;
  }
  to {
    top: 30px;
  }
}
