*{
    font-family: Arial, Helvetica, sans-serif;
}
#data
{
    padding-top: 12%;
   
    /*  
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 7%;
    */

}
#pimgdiv
{
    display: grid;
    grid-template-columns: 20% 60% 10%;
    gap: 10%;
    padding-top: 0%;
    height: 550px;
    width: 100%;

    position: fixed;
    top: 23%;
    left: 5%;
    width: 45%;
}
#psimg
{
    display: grid;
    grid-template-columns: 100%;                        
}
#pimg1 ,#pimg2 ,#pimg3 ,#pimg4
{
    padding-top: 10px;
    height: 120px;
    width: 70%;
    margin-left: 20%;
}

#pimg1 > img, #pimg2 > img, #pimg3 > img , #pimg4 > img ,#pimg0 > img
{
    height: 100%;
    width: 100%;
    margin-right:20% ;
}

#pimg0
{           
    width: 100%;
}
#pbagbutton
{
    background-color: black;
    color:white;
    width: 30%;
}
#title
{
    font-size: 16pt;
    font-weight: bolder;
}
#subtitle
{
    font-size: 12pt;
    color: grey;
}
#rating , #q03
{
    font-size: 12pt;
    font-weight: bold;
}
#q01 > p
{
    font-size: 12pt;
    font-weight: bold;
    padding: 6px;
}
#q01
{
    background-color: rgb(236, 226, 226);
    height: fit-content;
    width: fit-content;
}
#price
{
    font-size: 16pt;
}
#pdetails
{
    padding-left: 55%;
    margin-top: -2%;
}
#sdata > div
{
    border-top: 2px solid grey;
    padding-top: 3%;
    font-weight: bold;
    margin-right: 7%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 3%;
}
#q02
{
    border-bottom: 3px solid black;    
}
#q06
{
    margin-left: 6%;
    font-size: 11pt;
    font-weight: bold;
}
#q04
{
    font-size: 11pt;
    font-weight: bold;
    font-style: italic;
}
#q05
{
    margin-top: -2%;
    margin-right: 10%;
    font-style: italic;
}
li
{
 margin-right: 10%;   
}